<h4>Lägg till ny picknickplats</h4>
<form name="createForm">
    <p class="help-block">Ange position för din plats genom att klicka på kartan</p>
    <div class="form-group">
        <label for="description">Beskrivning:</label>
        <input class="form-control" type="text" name="description" ng-model="create.description" required/>
        <label for="tags">Kategorier:</label>
        <input class="form-control" type="text" name="tags" ng-model="create.tags" required/>
        <button class="btn btn-default" data-ng-click="create()">Skapa</button>
    </div>
</form>