<div id="map" data-ng-controller="MapController as vm">

<ng-map center="59.474566, 17.751230" zoom="9">

      <marker id="{{place.id}}"
          position="[{{place.latitude}}, {{place.longitude}}]"
          data-ng-repeat="place in allPlaces"
          on-click="vm.showDetail(place)">
      </marker>
      <!-- <info-window id="foo-iw">
           <div ng-non-bindable="">
                id: <br/>
                name: <br/>
           </div>
        </info-window> -->


  <!-- <info-window  id="foo-iw" max-width="150" position="[{{mapCtrl.place.latitude}}, {{mapCtrl.place.longitude}}]"> -->
    <!-- <info-window id="foo-iw">
        <div >

          <p>hej!</p>
        </div>
    </info-window> -->
</ng-map>

</div>